# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configurações do Banco de Dados PostgreSQL (Render)
DB_HOST=dpg-d1gsp1ngi27c73c345og-a.oregon-postgres.render.com
DB_PORT=5432
DB_USER=tarefas_db_6kjg_user
DB_PASSWORD=vElqqRldCgAuj0ZbXP76I6mTZQ5uOpSo
DB_NAME=tarefas_db_6kjg
DB_SSL=true

# Configurações do BetterStack
BETTERSTACK_SOURCE_TOKEN=WP1Eq5fRkv7m44iNWPMUngLJ

# Configurações do Docker Hub
DOCKER_USERNAME=samuelpregnolatto
DOCKER_PASSWORD=your_docker_password_here

# Configurações do Render
RENDER_API_KEY=rnd_2Pwn5UH810tiX15DHSeENxWRJsjf
RENDER_SERVICE_ID=srv-d1gt2nnfte5s7392qhtg

# Configurações de Email (para notificações)
EMAIL_USERNAME=samuelpregnolatto@gmail.com
EMAIL_PASSWORD=your_gmail_app_password_here
NOTIFICATION_EMAIL=samuelpregnolatto@gmail.com 